.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 70px;
  height: 70px;

  border-radius: 20px;
  transition: 0.2s;
  margin-right: 10%;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(131, 204, 238, 0.241);
}

.ButtonIcon {
  height: 40px;
}

.iconButton:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.iconButton:active {
    transform: scale(0.9);
    transition: 0.2s;
}

#linkbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

#Github-button:hover {
  background: #17151586;
}

#LinkedIn-button:hover {
  background: #1394d089;
}

#Mail-button:hover {
  background: #e2851375;
}

#CV-button:hover {
  background: #49ead275;
}