#Github-button:hover {
  background: linear-gradient(#17151586, #3f3a3a86);
}

#LinkedIn-button:hover {
  background: linear-gradient(#1394d089, #69c3ec89);
}

#Mail-button:hover {
  background: linear-gradient(#49ead275, #4ca8e275);
}

#CV-button:hover {
  background: linear-gradient(#49ead275, #49eab2a7);
  }