.description-container{
    width: 300px;
}

.description-container p{
    font-size: 20px;
    line-height: 30px;
}

.project-split{
    display: flex;
       margin-top: 10px;
    align-items: center;
}

.project-split p{
 margin-right: 20px;
 font-size: 1.25em;
}

.tech-icons{
    display: flex;
    justify-content: space-evenly;  
    margin-top: 20px;
    height: 50px;
}

.project-content{
    height: 190px;
    overflow: hidden;
    transition: 220ms;
    font-size: 0.90em;
    letter-spacing: 3px;
    line-height: 2em;
}

.project-content:hover{
    height: 260px;
    overflow: hidden;
    transition: 220ms;
}

