.textbox {
    width: 100%;
    font-size: 1.3em;
    letter-spacing: 3px;
    line-height: 1.75em;
}

.textbox > * {
    margin: 30px 0px;
}

.highlight {
    background: linear-gradient(rgb(124, 224, 255), rgb(238, 141, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}