* {
  margin: 0;
  padding: 0;
  color: #e7e7e7e7;
}


html, body {
  height: 100%;
  scroll-snap-type: y proximity;
  scroll-snap-stop: always;
}

#backglass {
  width: 100%;

}

#background {
  background-color: #171717;
  height: max-content;
  position: relative;
}

#back-glass {
  background: rgba(255, 255, 255, 0.079);
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
}

.fullscreen{
  width: 100%;

}

.glasspane {
  background: rgba(255, 255, 255, 0.185);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 6px );
}

.page-container{
  width: 90%;
  max-width: 100vw;
  top: 0;
  position: relative;
}



.page {
  display: flex;
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}

.spalte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin-left: 10%;
}

.courses{
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
}

.sticky{
  position:-webkit-sticky; 
  position:sticky;
  top:0;
}


#meImgContainer{
  background: linear-gradient(142.84deg, rgba(88, 147, 173, 0.584) 30.3%, rgba(211, 93, 232, 0.544) 85.27%, rgba(212, 93, 232, 0.33) 85.27%);
  border-radius: 50%;
  height: 600px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.meImg{
  height: 107%;
}

#img2{
  display: none;
  height: 110%;
}

#meImgContainer:hover #img2{
  display: block;
}

#meImgContainer:hover #img1{
  display: none;
}


